/* media queries */

@media (max-width:1200px){
    #intro, #equipo {
        width:90% !important;
        margin:auto;
    }
  
  
}

@media (max-width:768px) {

    #intro, #equipo{
        width:90% !important;
        margin:auto;
    }
   
  
     img {
        width:100%;
        height:auto;
    }
    #bg-contactos{
        top: -120px;
    }


}


@media (max-width: 576px) {
    #notis-fila-2 {
        width:100% !important;
    }
    #notis-fila-1 {
        width:100% !important;
    }

    .icono-wrap{
        flex-wrap:wrap !important;
        justify-content: center !important;
        text-align: center;
    }
}